<template>
    <div>
         <!--Page Title-->
         <section class="page-title" style="background-image:url(assets/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>{{$root.lang() == 1 ? 'Katalog' : $root.lang() == 3 ? 'Katalog' : 'Catalogue'}}</h1>
                        <!-- <span class="title">The Interior speak for themselves</span> -->
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{ 
                            $root.lang() == 1 ? 'Beranda' : 
                            $root.lang() == 2 ? 'Home' : 
                            $root.lang() == 3 ? 'Zuhause' : ''
                        }}</a></li>
                        <li>{{$root.lang() == 1 ? 'Katalog' : $root.lang() == 3 ? 'Katalog' : 'Catalogue'}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <a href="javascript:;" data-toggle="modal" data-target="#modal-contact"  id="open-email-modal" hidden>
            <span class="fa fa-download"></span>
        </a>
        <section class="blog-section">
            <div class="auto-container">
                <div class="cart-outer">
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header">
                                <tr>
                                    <th style="width: 20px;">#</th>
                                    <th style="text-align: left;">{{$root.lang() == 1 ? 'Nama Katalog' : $root.lang() == 3 ? 'Katalog Name' : 'Catalogue Name'}}</th>
                                    <th style="width: 20px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(catalogue, index) in Catalogue">
                                    <td class="sub-total">{{index+1}}</td>
                                    <td class="total" style="text-align: left;">{{catalogue.name}}</td>
                                    <td>
                                        <a href="javascript:;" @click="openModal(catalogue)" class="remove-btn"><span class="fa fa-download"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>


        <div id="modal-contact" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        {{
                            $root.lang() == 1 ? 'Berlangganan Sekarang' : 
                            $root.lang() == 3 ? 'Abonniere jetzt' : 'subscribe Now'
                        }}
                    </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" v-model="email" class="form-control"  placeholder="Enter email">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="closed-modal-email">
                    {{
                        $root.lang() == 1 ? 'Tutup' : 
                        $root.lang() == 3 ? 'Deckel' : 'Close'
                    }}
                  </button>
                  <button type="button" class="btn btn-primary" @click="sendEmail()">
                        {{
                            $root.lang() == 1 ? 'Kirim' : 
                            $root.lang() == 3 ? 'geschickt' : 'Sent'
                        }}
                    </button>
                </div>
              </div>
          
            </div>
        </div>
    </div>
</template>

<script>
    import ApiFrame from "../services/api/content.js"
    import ApiProduct from "../services/api/product.js"
    import Loader from "../mixins/preload.js"
    export default {
        mixins: [Loader],
        data() {
            return {
                Catalogue: [],
                email: '',
                selected_Url: ''
            }
        },
        mounted() {
            this.initCatalogue()
        },
        methods: {
            openModal(selected) {
                this.selected_Url = selected
                $("#open-email-modal").click()
            },
            initCatalogue() {
                ApiProduct.getCatalogue(this.$root.lang())
                .then(resp => {
                    if(resp && resp.data) {
                        this.Catalogue = resp.data
                    }
                }).finally(() => {
                    this.hidePreload()
                })
            },
            sendEmail() {
                let ValidateEmail = txt => {
                    var EmailPattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return EmailPattern.test(txt)
                }
                if(ValidateEmail(this.email)) {
                    ApiFrame.subscribe({ email: this.email.toLowerCase() })
                        .finally(() => {
                            window.location.assign(this.$root.catalogue(this.selected_Url.path))
                            this.email = null
                            $("#closed-modal-email").click()
                        })
                } else {
                    swal({
                        title: null,
                        text: "Please input your email",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                }
                
            }
        }
    }
</script>