<template>
    <div>
         <!--Page Title-->
         <section class="page-title" style="background-image:url(assets/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>{{$root.lang() == 1 ? 'Katalog' : $root.lang() == 3 ? 'Katalog' : 'Catalogue'}}</h1>
                        <!-- <span class="title">The Interior speak for themselves</span> -->
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{ 
                            $root.lang() == 1 ? 'Beranda' : 
                            $root.lang() == 2 ? 'Home' : 
                            $root.lang() == 3 ? 'Zuhause' : ''
                        }}</a></li>
                        <li>{{$root.lang() == 1 ? 'Katalog' : $root.lang() == 3 ? 'Katalog' : 'Catalogue'}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <section class="blog-section">
            <div class="auto-container">
                <div class="row">
                    <!-- News Block -->
                    <div class="news-block-two col-lg-4 col-md-12 col-sm-12" v-for="catalogue in Catalogue">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <img src="/assets/images/icons/PDF-img.jpg" alt="icon pdf" >
                                </figure>
                            </div>
                            <div class="caption-box">
                                <div class="inner">
                                    <h3><a :href="$root.catalogue(catalogue.path)" target="_BLANK">{{catalogue.name}}</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import ApiProduct from "../services/api/product.js"
    export default {
        data() {
            return {
                Catalogue: []
            }
        },
        mounted() {
            this.initCatalogue()
        },
        methods: {
            initCatalogue() {
                ApiProduct.getCatalogue(this.$root.lang())
                .then(resp => {
                    if(resp && resp.data) {
                        this.Catalogue = resp.data
                    }
                })
            }
        }
    }
</script>