<template>
    <div>
        <!--Page Title-->
        <section class="page-title" style="background-image:url(assets/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>
                            {{
                                $root.lang() == 1 ? 'Hubungi Kami' : 
                                $root.lang() == 2 ? 'Contact Us' :
                                $root.lang() == 3 ? 'Kontaktiere uns' : ''
                            }}
                        </h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{$root.lang() == 1 ? 'Beranda' : $root.lang() == 2 ? 'Home' : 'Zuhause'}}</a></li>
                        <li>{{
                            $root.lang() == 1 ? 'Hubungi Kami' : 
                            $root.lang() == 2 ? 'Contact Us' :
                            $root.lang() == 3 ? 'Kontaktiere uns' : ''
                        }}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- Contact Page Section -->
        <section class="contact-page-section">
            <div class="auto-container">
                <div class="row">
                    <!-- Form Column -->
                    <div class="form-column col-lg-7 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <!-- <span class="float-text">informaer</span> -->
                                <h2>{{
                                    $root.lang() == 1 ? 'Hubungi Kami' : 
                                    $root.lang() == 2 ? 'Contact Us' :
                                    $root.lang() == 3 ? 'Kontaktiere uns' : ''
                                }}</h2>
                            </div>

                            <div class="contact-form">
                                <form method="post" >
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <input type="text" name="username" placeholder="Name" required="">
                                        </div>
                                        
                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <input type="text" name="phone" placeholder="Phone" required="">
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <input type="text" name="company" placeholder="Company">
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                            <input type="email" name="email" placeholder="Email" required="">
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <button class="theme-btn btn-style-three" type="submit" name="submit-form">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="contact-info">
                                <div class="row">
                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner">
                                            <h4>{{
                                                $root.lang() == 1 ? 'Lokasi' : 
                                                $root.lang() == 2 ? 'Location' :
                                                $root.lang() == 3 ? 'Ort' : ''
                                            }}</h4>
                                            <p>{{address}}</p>
                                        </div>
                                    </div>

                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner">
                                            <h4>{{
                                                $root.lang() == 1 ? 'Pangil Kami' : 
                                                $root.lang() == 2 ? 'Call Us' :
                                                $root.lang() == 3 ? 'Rufen Sie uns an' : ''
                                            }}</h4>
                                            <p>{{phone}}</p>
                                        </div>

                                    </div>

                                    <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                        <div class="inner">
                                            <h4>Email</h4>
                                            <p><a href="#">{{email}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="map-column col-lg-5 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="map-outer">
                                <div class="map-canvas"
                                    data-zoom="16"
                                    data-lat="-6.203798"
                                    data-lng="106.913744"
                                    data-type="roadmap"
                                    data-hue="#ffc400"
                                    data-title="Head Office"
                                    data-icon-path="assets/images/icons/map-marker.png"
                                    data-content="PT. Tatamulia Nusantara Indah<br><a href='mailto:teka@dsngroup.co.id'>teka@dsngroup.co.id</a>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Contact Page Section -->
    </div>
</template>

<script>
    import ApiFrame from "../services/api/content.js"
    import AOS from 'aos';
    export default {
        data() {
            return {
                addresses: {},

                sliders: [],
                socialMedia: [],
                preferedTitle: '',
                preferedContent: '',
                preferedProduct: [],
                faqs: [],
                testimonies: [],
                address: '',
                email: '',
                phone: '',
                video_title: '',
                video_subtitle: '',
                video_summary: '',
                video_link: '',

                promo_section_title: '',
                promo_section_subtitle: '',
                promo_section_caption: '',
                promo_img: '',

                trends: [],
                partners: [],

                en_ : [ '<span class="fa fa-long-arrow-left"></span> prev', 'next<span class="fa fa-long-arrow-right"></span>' ],
                id_ : [ '<span class="fa fa-long-arrow-left"></span> Kembali', 'Selanjutnya<span class="fa fa-long-arrow-right"></span>' ],
                deu_: [ '<span class="fa fa-long-arrow-left"></span> Bisherige', 'Nächster<span class="fa fa-long-arrow-right"></span>' ]
            }
        },
        methods: {
            async initialFrame() {
                AOS.init();
                let _content = await ApiFrame.getFrame('home')
                this.sliders = await _content.content.tb_banners
                this.preferedTitle = await _content.content.tb_static_content.prefered_title
                this.preferedContent = await _content.content.tb_static_content.prefered_content
                this.preferedProduct = await _content.content_prefered
                this.faqs = await _content.content.tb_faqs
                this.testimonies = await _content.content.tb_testimonis
                this.address = await _content.content.tb_profile.tb_addresses[0].address
                this.phone = await _content.content.tb_profile.phone
                this.email = await  _content.content.tb_profile.email
                this.video_title = await _content.content.tb_static_content.video_title
                this.video_subtitle = await _content.content.tb_static_content.video_subtitle
                this.video_summary = await _content.content.tb_static_content.video_summary
                this.video_link = await _content.content.tb_static_content.video_link
                this.promo_section_title = await _content.content.tb_static_content.promo_section_title
                this.promo_section_subtitle = await _content.content.tb_static_content.promo_section_subtitle
                this.promo_section_caption = await _content.content.tb_static_content.promo_section_caption
                this.promo_img = await _content.content.tb_static_content.promo_section_image
                this.trends = await _content.content_trend

            },
            owlTrendInit() {
                if ($('.projects-carousel').length) {
                    $('.projects-carousel').owlCarousel({
                        loop:true,
                        margin:0,
                        nav:true,
                        smartSpeed: 700,
                        autoplay: true,
                        navText: this.$root.lang() == 1 ? this.id_ : this.$root.lang() == 3 ? this.deu_ : this.en_,
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            800:{
                                items:3
                            },
                            1024:{
                                items:4
                            },
                            1400:{
                                items:5
                            }
                        }
                    });    		
                }

                
            },
            initPartner() {
                if ($('.sponsors-carousel').length) {
                    $('.sponsors-carousel').owlCarousel({
                        loop:true,
                        margin:30,
                        nav:true,
                        smartSpeed: 700,
                        autoplay: true,
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            768:{
                                items:3
                            },
                            1024:{
                                items:4
                            },
                            1400:{
                                items:5
                            },
                        }
                    });    		
                }
            },
            owlTestimoniInit() {
                if ($('.testimonial-carousel-two').length) {
                    $('.testimonial-carousel-two').owlCarousel({
                        loop:true,
                        margin:70,
                        nav:true,
                        smartSpeed: 700,
                        autoplay: true,
                        navText: this.$root.lang() == 1 ? this.id_ : this.$root.lang() == 3 ? this.deu_ : this.en_,
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:1
                            },
                            768:{
                                margin:30,
                                items:2
                            },
                            1024:{
                                items:2
                            }
                        }
                    });    		
                }
            },
            owlPreferedInit() {
                if ($('.image-carousel').length && $('.thumbs-carousel').length) {
                    
                    var $sync1 = $(".image-carousel"),
                        $sync2 = $(".thumbs-carousel"),
                        flag = false,
                        duration = 500;
                        $sync1.owlCarousel({
                            loop:false, items: 1, 
                            margin: 0, 
                            nav: false,
                            navText: this.$root.lang() == 1 ? this.id_ : this.$root.lang() == 3 ? this.deu_ : this.en_,
                            dots: false,
                            autoplay: true,
                            autoplayTimeout: 5000
                        }).on('changed.owl.carousel', function (e) {
                            if (!flag) {
                                flag = false;
                                $sync2.trigger('to.owl.carousel', [e.item.index, duration, true]);
                                flag = false;
                            }
                        });

                        $sync2.owlCarousel({
                            loop:false,
                            margin: 20,
                            items: 1,
                            nav: true,
                            navText: this.$root.lang() == 1 ? this.id_ : this.$root.lang() == 3 ? this.deu_ : this.en_,
                            dots: false,
                            center: false,
                            autoplay: true,
                            mouseDrag:true,
                            touchDrag:true,
                            autoplayTimeout: 5000,
                            responsive: {
                                0:{
                                    items:2,
                                    autoWidth: false
                                },
                                400:{
                                    items:2,
                                    autoWidth: false
                                },
                                600:{
                                    items:3,
                                    autoWidth: false
                                },
                                800:{
                                    items:4,
                                    autoWidth: false
                                },
                                1024:{
                                    items:4,
                                    autoWidth: false
                                }
                            },
                        }).on('click', '.owl-item', function () {
                            $sync1.trigger('to.owl.carousel', [$(this).index(), duration, true]);
                        }).on('changed.owl.carousel', function (e) {
                            if (!flag) {
                                flag = true;
                                $sync1.trigger('to.owl.carousel', [e.item.index, duration, true]);
                                flag = false;
                            }
                        });
                }
            },
            owlBannerInit() {
                if ($('.banner-carousel-two').length) {
                    $('.banner-carousel-two').owlCarousel({
                        animateOut: 'fadeOut',
                        animateIn: 'fadeIn',
                        loop:true,
                        margin:30,
                        nav:true,
                        smartSpeed: 15000,
                        mouseDrag:false,
                        touchDrag:false,
                        autoHeight: true,
                        autoplay: true,
                        autoplayTimeout:10000,
                        navText: this.$root.lang() == 1 ? this.id_ : this.$root.lang() == 3 ? this.deu_ : this.en_,
                        responsive:{
                            0: { items:1 },
                            600: { items:1 },
                            1024: { items:1 },
                        }
                    });
                }
            }
        },
        // LIFECYLCE
        beforeCreate() {},
        created() {},
        beforeMount() {
        },
        async mounted() {
            await this.initialFrame()
            if(this.preferedProduct.length > 0) {
                this.owlPreferedInit()
            }
            this.owlBannerInit()
            this.initPartner()
            if(this.testimonies.length > 0) {
                this.owlTestimoniInit()
            }
            if(this.trends.length > 0) {
                this.owlTrendInit()
            }
            // this.owlInit()
        }
    }
</script>