<template>
    <div>
        <!--Page Title-->
        <section v-if="background" class="page-title" :style="`background-image:url(${$root.asset(background.image)})`">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>{{$root.lang() == 1 ? 'Kebijakan Privasi' : $root.lang() == 3 ? 'Datenschutz-Bestimmungen' : 'Privacy Policy'}}</h1>
                        <!-- <span class="title">The Interior speak for themselves</span> -->
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{ 
                            $root.lang() == 1 ? 'Beranda' : 
                            $root.lang() == 2 ? 'Home' : 
                            $root.lang() == 3 ? 'Zuhause' : ''
                        }}</a></li>
                        <li>{{$root.lang() == 1 ? 'Kebijakan Privasi' : $root.lang() == 3 ? 'Datenschutz-Bestimmungen' : 'Privacy Policy'}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div v-html="tnc">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ApiContent from "../services/api/content.js"
    import Loader from "../mixins/preload.js"
    export default {
        mixins: [Loader],
        data() {
            return {
                background: null, 
                tnc: '',
                onLoad: true
            }
        },
        mounted() {
            ApiContent.getBackground('privacy')
            .then(resp => {
                this.background = resp.data
            }).finally(() => {
                this.getTnc()
            })
        },  
        methods: {
            
            getTnc() {
                ApiContent.getPP(this.$root.lang())
                .then(resp => {
                    this.tnc = resp.data.privacy_policy
                }).finally(() => {
                    this.hidePreload()
                })
            }
        }
    }
</script>