<template>
    <div >
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/assets/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>{{details.name}}</h1>
                        <span class="title" v-if="details.tb_construction">{{details.tb_construction.name}} </span>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{$root.lang() == 1 ? 'Beranda' : $root.lang() == 2 ? 'Home' : 'Zuhause'}}</a></li>
                        <li><a href="/product">{{$root.lang() == 1 ? 'Produk' : $root.lang() == 2 ? 'Products' : 'Produkt'}}</a></li>
                        <li>{{details.name}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!--Sidebar Page Container-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!--Content Side-->
                    <div class="content-side col-xl-9 col-lg-8 col-md-12" id="product-technical">
                        <div class="shop-single">
                            <div class="product-details">
                                
                                <!--Basic Details-->
                                <div class="basic-details">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-12">
                                            <!-- <figure v-if="!imagesProduct || imagesProduct.length == 0" class="image-box"><a :href="$root.asset(details.image)" class="lightbox-image" title="Image Caption Here">
                                                <img :src="$root.asset(details.image)" alt=""></a>
                                            </figure> -->
                                            <div >
                                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                    <ol class="carousel-indicators">
                                                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                      <li v-for="(img, index) in imagesProduct" data-target="#carouselExampleIndicators" :data-slide-to="(index+1)" ></li>
                                                      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                                                    </ol>
                                                    <div class="carousel-inner">
                                                      <div class="carousel-item active">
                                                        <figure class="image-box"><a :href="$root.asset(details.image)" class="lightbox-image" title="Image Caption Here">
                                                            <img :src="$root.asset(details.image)" alt=""></a>
                                                        </figure>
                                                      </div>
                                                      <div class="carousel-item" v-for="img in imagesProduct">
                                                        <figure class="image-box"><a :href="$root.asset(details.image)" class="lightbox-image" title="Image Caption Here">
                                                            <img :src="$root.asset(img.image)" ></a>
                                                        </figure>
                                                      </div>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                      <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                      <span class="sr-only">Next</span>
                                                    </a>
                                                  </div>
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <th >
                                                        Grading Criteria
                                                    </th>
                                                </tr>
                                                <tr v-for="cr in details.tb_criteria_gradings">
                                                    <th  v-if="$root.lang() == cr.id_lang">
                                                        {{cr.criteria}}
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-12" v-if="details">
                                            <div class="details-header" >
                                                <h4 v-if="details.name">{{details.name}}</h4>
                                                
                                            </div>

                                            <div class="text">
                                                <table class="table table-bordered" style="width: 100%;">
                                                    <tr >
                                                        <th colspan="2">Details</th>
                                                    </tr>
                                                    <tr >
                                                        <td>Name</td>
                                                        <td v-if="details.name">{{details.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Code</td>
                                                        <td>{{details.code}}</td>
                                                    </tr>
                                                    <tr v-if="details.tb_construction">
                                                        <td>Construction</td>
                                                        <td>{{details.tb_construction.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pattern</td>
                                                        <td>{{details.pattern}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Process</td>
                                                        <td>{{details.process}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Finish</td>
                                                        <td>{{details.finish}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Profile</td>
                                                        <td>{{details.profile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Edge Profile</td>
                                                        <td>{{details.edge_profile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Backing</td>
                                                        <td>{{details.backing}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Thickness</td>
                                                        <td>
                                                            <span v-for="(thickness, index) in tichnessSizes">
                                                                {{
                                                                    $root.lang() == 2 ? thickness+'"' : thickness
                                                                }} 
                                                                {{
                                                                    tichnessSizes[index+1] ? ', ' : 
                                                                    $root.lang() == 2 ? ' inch' : ' mm'
                                                                }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Width</td>
                                                        <td>
                                                            <span v-for="(wd, index) in widthSizes">
                                                                {{
                                                                    $root.lang() == 2 ? wd+'"' : wd
                                                                    
                                                                }} 
                                                                {{
                                                                    widthSizes[index+1] ? ', ' :
                                                                    $root.lang() == 2 ? ' inch': ' mm'
                                                                }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Length</td>
                                                        <td>
                                                            <span v-for="(leng, index) in details.tb_size_lengths">
                                                                {{
                                                                    $root.lang() == 2 ? $root.convertToFeet(leng.size_length)+'' : leng.size_length
                                                                }} 
                                                                {{
                                                                    details.tb_size_lengths[index+1] ? ', ' : 
                                                                    $root.lang() == 2 ? ' feet': ' mm'
                                                                }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--Basic Details-->
                                
                            </div>
                        </div>
                    </div>

                    <!--Sidebar Side-->
                    <div class="sidebar-side col-xl-3 col-lg-4 col-md-12">
                        <aside class="sidebar">
                            
                            <div class="sidebar-widget price-filters rangeslider-widget">
                                
                                <div class="range-slider-one clearfix">
                                    <div class="price-range-slider"></div>
                                    <div class="clearfix">
                                        <table class="table table-bordered" style="width: 100%; margin-top: 25%;" >
                                            <tr>
                                                <th colspan="2">Installation</th>
                                            </tr>
                                            <tr v-if="details.tb_installation">
                                                <td style="width: 50%;">Full Bonded</td>
                                                <td v-if="details.tb_installation.full_bonded">{{details.tb_installation.full_bonded ? details.tb_installation.full_bonded : '-'}}</td>
                                            </tr>
                                            <tr v-if="details.tb_installation">
                                                <td>Nailed</td>
                                                <td v-if="details.tb_installation.nailed">{{details.tb_installation.nailed ? details.tb_installation.nailed : '-'}}</td>
                                            </tr>
                                            <tr v-if="details.tb_installation">
                                                <td>Floated On Underlay</td>
                                                <td>{{details.tb_installation.floated}}</td>
                                            </tr>
                                            <tr v-if="details.tb_installation">
                                                <td>Over Underfloor Heating</td>
                                                <td>{{details.tb_installation.over_underfloor}}</td>
                                            </tr>
                                        </table>
                                        <div >
                                            <button v-if="!onDownloads" @click.prevent="getTechnicalSheets()" class="theme-btn btn-style-one" style="width: 100%">{{onDownloads ? 'Please Wait...':'Technical Sheet'}}</button>
                                            <button v-if="onDownloads" style="width: 100%;" disabled>Please Wait...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Top Related Posts -->
                            
                        </aside>
                    </div>
                    
                    <div class="col-12" align="center">
                        <div class="sidebar-widget related-posts">
                            <div class="sidebar-title">
                                <h2>You May Also Like These Products</h2>
                                <div class="separater"></div>
                            </div>
                            <div class="sponsors-outer">
                                <ul class="sponsors-carousel owl-carousel owl-theme">
                                    <li class="slide-item" v-for="product in products">
                                        <figure class="image-box">
                                            <a :href="'/product/'+product.id">
                                                <img :src="$root.asset(product.image)" :alt="product.name">
                                            </a>
                                        </figure>
                                        <h4><a >{{product.name}}</a></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Sidebar Page Container-->
        
        <!-- DEMO TDS -->
    </div>
</template>

<script>
    import ApiProduct from "../services/api/product.js"
    import Loader from "../mixins/preload.js"
    export default {
        mixins: [Loader],
        props: ['id'],
        data() {
            return {
                products: [],
                details: {},
                imagesProduct: [],
                widthSizes: [],
                tichnessSizes: [],
                onDownloads: false,
            }
        },
        mounted() {
            this.fetchProduct()
            this.fetchDetail()
        },
        methods: {
            initPartner() {
                if ($('.sponsors-carousel').length) {
                    $('.sponsors-carousel').owlCarousel({
                        loop:true,
                        margin:30,
                        nav:false,
                        smartSpeed: 700,
                        autoplay: true,
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            768:{
                                items:3
                            },
                            1024:{
                                items:4
                            },
                            1400:{
                                items:5
                            },
                        }
                    });    		
                }
            },
            fetchProduct() {
                ApiProduct.getProduct()
                .then(resp => {
                    this.products = resp.data.rows
                    
                })
                .finally(() => {
                    this.initPartner()
                })
            },
            fetchDetail() {
                ApiProduct.getDetail_Product(this.id)
                .then(resp => {
                    this.details = resp.data
                    this.imagesProduct = resp.data.tb_product_images
                    if(resp.data.tb_size_widths && resp.data.tb_size_widths.length > 0) {
                        resp.data.tb_size_widths.map(_wd => {
                            if(this.$root.lang() == 2) {
                                let temp = this.$root.toFraction(this.$root.convertToInch(_wd.size_width))
                                const find = this.widthSizes.findIndex(_val => _val == temp)
                                if(find < 0) {
                                    this.widthSizes.push(temp)
                                } 
                            } else {
                                this.widthSizes.push(_wd.size_width)
                            }
                        })
                    }


                    if(resp.data.tb_size_thicknesses && resp.data.tb_size_thicknesses.length > 0) {
                        resp.data.tb_size_thicknesses.map(_wd => {
                            if(this.$root.lang() == 2) {
                                let temp = this.$root.toFraction(this.$root.convertToInch(_wd.size_thickness))
                                const find = this.tichnessSizes.findIndex(_val => _val == temp)
                                if(find < 0) {
                                    this.tichnessSizes.push(temp)
                                } 
                            } else {
                                this.tichnessSizes.push(_wd.size_thickness)
                            }
                        })
                    }


                }).finally(() => {
                    this.hidePreload()
                })
            },
            async getTechnicalSheets() {
                let dataBase64
                this.onDownloads = true;
                ApiProduct.getBlob(this.details.image)
                .then(_resp => {
                    dataBase64 = _resp.data
                })
                .finally(() => {
                    let thickness = ''
                    let _width = ''
                    let _length = ''
                    this.details.tb_size_thicknesses.map((_val, index) => {
                        thickness += this.$root.lang() != 1 ? this.$root.toFractionPDF(this.$root.convertToInch(_val.size_thickness))+'"' : _val.size_thickness
                        thickness += this.details.tb_size_thicknesses[index + 1] ? (this.$root.lang() != 1 ? ', ' : ', ') : this.$root.lang() != 1 ? ' inch' : ' mm'
                    })

                    this.details.tb_size_widths.map((_val, index) => {
                        _width += this.$root.lang() != 1 ? this.$root.toFractionPDF(this.$root.convertToInch(_val.size_width))+'"' : _val.size_width
                        _width += this.details.tb_size_widths[index + 1] ? (this.$root.lang() != 1 ? ', ' : ' mm, ') : this.$root.lang() != 1 ? ' inch' : ' mm'
                    })

                    this.details.tb_size_lengths.map((_val, index) => {
                        _length += this.$root.lang() != 1 ? this.$root.convertToFeet(_val.size_length)+'' : _val.size_length
                        _length += this.details.tb_size_lengths[index + 1] ? (this.$root.lang() != 1 ? ', ' : ' mm, ')  : this.$root.lang() != 1 ? ' ft' : ' mm' 
                    })

                    let criteria = ''
                    let noteCriteria = ''
                    this.details.tb_criteria_gradings.map(_cr => {
                        if(this.$root.lang() == _cr.id_lang) {
                            criteria = _cr.criteria
                            if(_cr.note && _cr.note != '') {
                                noteCriteria = 'n/b : '+ _cr.note
                            }
                        }
                    })

                    var filename = `TDS_${this.details.name}.pdf`
                    var docDefinition = { 
                        info: {
                            title: `Technical data sheet ${this.details.name}`,
                            author: 'Teka Parquet',
                            subject: 'Technical Data Sheet',
                            keywords: 'Technical Data Sheet',
                            creator: 'Teka Parquet',
                            producer: 'Teka Parquet'
                        },
                        pageSize: 'A4',
                        pageMargins: [ 40, 60, 40, 100 ],
                        header: {
                            width: 600,
                            image: 'headerImage'
                        },
                        footer: {
                            width: 600,
                            margin: [ 0, 0, 0, 30 ],
                            image: 'footerImage'
                        },
                        content: [
                            {
                                margin: [ 0, 40, 0, 0 ],
                                table: {
                                    widths: [ '*' ],
                                    body: [
                                        [{text: this.details.name, style: 'header'}]
                                    ]
                                }
                            },
                            {
                                margin: [ 0, 20, 0, 0 ],
                                alignment: 'justify',
                                columns: [
                                    [
                                        {
                                            image: 'productImage',
                                            width: 240,
                                            margin: [ 0, 0, 0, 20 ]
                                        },
                                        {
                                            style: 'medium',
                                            table: {
                                                widths: [ 80, 140 ],
                                                body: [
                                                    [{text: 'DETAILS', colSpan: 2, alignment: 'center'}, {}],
                                                    ['Product Name', this.details.name],
                                                    ['Product Code', this.details.code],
                                                    ['Construction', this.details.name],
                                                    ['Pattern', this.details.pattern],
                                                    ['Process', this.details.process],
                                                    ['Finish', this.details.finish],
                                                    ['Profile', this.details.profile],
                                                    ['Edge Profile', this.details.edge_profile],
                                                    ['Backing', this.details.backing],
                                                    [{text: 'Thickness', alignment: 'left'}, thickness],
                                                    ['Width', _width],
                                                    ['Length', _length]
                                                ]
                                            }
                                        },

                                        { qr: window.location.href, foreground: 'brown' , margin: [ 0, 10, 0, 0 ], fit: '100'},
                                    ],
                                    [
                                        {
                                            style: 'medium',
                                            table: {
                                                headerRows: 1,
                                                widths: [ '*', 'auto' ],
                                                body: [
                                                    [{text: 'INSTALLATION METHODS', colSpan: 2, alignment: 'center'}, {}],
                                                    ['Fully Bonded', this.details.tb_installation.full_bonded],
                                                    ['Nailed', this.details.tb_installation.nailed],
                                                    ['Floated on underlay', this.details.tb_installation.floated],
                                                    ['Over Underfloor Heating', this.details.tb_installation.over_underfloor]
                                                ]
                                            },
                                        },
                                        {
                                            text: 'Grading Criteria',
                                            style: 'subheader',
                                            margin: [ 0, 10, 0, 10 ],
                                        },
                                        {
                                            text: criteria
                                        },
                                        {
                                            margin: [ 0, 10, 0, 10 ],
                                            text: noteCriteria,
                                            style: 'small'
                                        },
                                        {
                                            style: 'medium',
                                            table: {
                                                headerRows: 1,
                                                widths: [ '*', 'auto' ],
                                                body: [
                                                    [{text: 'TECHNICAL CRITERIA', colSpan: 2, alignment: 'center'}, {}],
                                                    ['Origin', this.details.tb_criteria_detail.origin],
                                                    ['Responsible Certification', this.details.tb_criteria_detail.certificate],
                                                    ['Janka Hardess Rating', this.details.tb_criteria_detail.janka],
                                                    ['Formaldehyde Emission', this.details.tb_criteria_detail.formal_emission],
                                                    ['Pentachlorophenol Emission', this.details.tb_criteria_detail.penta_emmision],
                                                    ['Slip Testing', this.details.tb_criteria_detail.slip_test],
                                                    ['Reaction to Fire Certification', this.details.tb_criteria_detail.reaction_fire],
                                                    ['Thermal Conductivity', this.details.tb_criteria_detail.thermal],
                                                ]
                                            },
                                        }
                                    ]
                                ]
                            },
                        ],
                        images: {
                            productImage: `data:image/jpeg;base64,${dataBase64.productImage}`,
                            headerImage: `data:image/jpeg;base64,${dataBase64.headerImage}`,
                            footerImage: `data:image/jpeg;base64,${dataBase64.footerImage}`
                        },
                        styles: {
                            header: {
                                fontSize: 18,
                                bold: true,
                               
                            },
                            subheader: {
                                fontSize: 15,
                                bold: true
                            },
                            quote: {
                                italics: true
                            },
                            small: {
                                fontSize: 8
                            },
                            medium: {
                                fontSize: 10
                            }
                        }
                    };
                    pdfMake.createPdf(docDefinition).download(filename);
                    this.onDownloads = false
                })
            }
        }
    }
</script>