<template>
    <div>
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/assets/images/background/10.jpg);">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="title-box">
                        <h1>{{resouce_title}}</h1>
                        <!-- <span class="title">The Interior speak for themselves</span> -->
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">{{
                                $root.lang() == 1 ? 'Beranda' :
                                $root.lang() == 2 ? 'Home' :
                                $root.lang() == 3 ? 'Zuhause' : ''
                                }}</a></li>
                        <li>{{resouce_title}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="card">
                    <div class="card-body">
                        <div v-html="resouce_content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ApiContent from "../services/api/content.js"
    import Loader from "../mixins/preload.js"
    export default {
        mixins: [Loader],
        props: ['id'],
        data() {
            return {
                resouce_content: '',
                resouce_title: '',
                onLoad: true
            }
        },
        mounted() {
            this.fetchResource()
        },
        methods: {
            fetchResource() {
                ApiContent.getDetailProven(this.id)
                    .then(resp => {
                        if (resp.data.lang_id != this.$root.lang()) {
                            this.$router.replace({ name: 'home.page.html' })
                        }
                        this.resouce_title = resp.data.name
                        this.resouce_content = resp.data.content
                    }).finally(() => {
                        this.hidePreload()
                    })
            }
        }
    }
</script>