<template>
    <div>
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Coming Soon -->
        <section v-if="backgeround" class="coming-soon" :style="`background-image:url(${$root.asset(backgeround.image)})`">
            <div class="auto-container">
                <div class="content">
                    <div class="content-inner">
                        <div class="logo"><a href="index.html"><img src="/assets/images/logo-white.png" alt="" width="200"/></a></div>
                        <h2>Welcome</h2>
                        <!-- <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/9/19"></div></div> -->
                        <div class="text">Please Choose ! </div>
                        <!--Emailed Form-->
                        <div class="auto-container">
                            <div class="row clearfix">
                                <div class="col-md-1"></div>
                                <div class="col-md-5" >
                                    <button @click.prevent="setStarter('setter')" class="theme-btn btn-style-one" 
                                        style="width: 300px; height: 300px; margin-bottom: 20px; border-radius: 20%; ">
                                        <i><img src="/assets/images/icons/b2b-white.svg" alt="" ></i><br>
                                        Home Owner
                                    </button>
                                </div>
                                <div class="col-md-5" >
                                    <button @click.prevent="setStarter('professional')" class="theme-btn btn-style-one" 
                                        style="width: 300px; height: 300px; margin-bottom: 20px; border-radius: 20%;">
                                        <i><img src="/assets/images/icons/b2c-white.svg" alt="" ></i><br>
                                        Professionals
                                    </button>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Coming Soon -->
    </div>
</template>

<script>
    import axios from 'axios'
    import Loader from "../mixins/preload.js"
    export default {
        data() {
            return {
                backgeround: null
            }
        },
        mixins: [Loader],
        methods: {
            setStarter(setter) {
                sessionStorage.setItem('__STARTER', setter)
                window.location.href = "/"
            }
        },
        mounted() {
            const ENV = process.env.BASE_API
            axios.get(`${ENV}/api/v1/global/background-banner/starter/lang/1/type/1`)
            .then(_resp => {
                this.backgeround = _resp.data
            }).finally(() => {
                axios.get("http://ip-api.com/json")
                .then(resp => {
                    let form = {
                        client_ip: resp.data.query,
                        country: resp.data.country,
                        mon: new Date().getMonth(),
                        year: new Date().getFullYear(),
                        city: resp.data.city
                    }
                    axios.post(`${ENV}/api/v1/visitors`, form)
                    .then(res => console.log(res))
                    if(resp.data && resp.data.countryCode == 'ID') {
                        sessionStorage.setItem('_LANG', 1)
                    }
                    sessionStorage.setItem('_CC', resp.data.countryCode)
                }).finally(() => {
                    this.hidePreload()
                })
            })

            
        }
    }
</script>