<template>
    <footer class="main-footer alternate" style="background-image: url(/assets/images/background/5.jpg);">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="/"><img src="/assets/images/logo-white.png" alt="teka logo" width="200"></a>
                                        </figure>
                                    </div>
                                    <div class="widget-content">
                                        <div class="text">
                                            {{footer}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                    
                        </div>
                    </div>
                    
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="footer-column col-12">
                                 <div class="footer-widget links-widget">
                                    <h2 class="widget-title">
                                        {{
                                            $root.lang() == 1 ? 'Tautan ' : 
                                            $root.lang() == 2 ? 'Useful links' :
                                            $root.lang() == 3 ? 'Nützliche Links' : ''
                                        }}
                                    </h2>
                                    <div class="widget-content">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <ul class="list">
                                                    <li>
                                                        <a href="/about">
                                                        {{
                                                            $root.lang() == 1 ? 'Tentang Teka':
                                                            $root.lang() == 2 ? 'About Teka':
                                                            $root.lang() == 3 ? 'über Teka' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/product">
                                                        {{
                                                            $root.lang() == 1 ? 'Produk':
                                                            $root.lang() == 2 ? 'Product':
                                                            $root.lang() == 3 ? 'Produkt' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/gallery">
                                                        {{
                                                            $root.lang() == 1 ? 'Galeri' : 
                                                            $root.lang() == 2 ? 'Gallery':
                                                            $root.lang() == 3 ? 'Galerie' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/contact-us">
                                                        {{
                                                            $root.lang() == 1 ? 'Hubungi Kami' :
                                                            $root.lang() == 2 ? 'Contact Us' :
                                                            $root.lang() == 3 ? 'Kontaktiere uns' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5">
                                                <ul class="list">
                                                    <li>
                                                        <a href="javascript:;" @click="switchTo()">
                                                            TEKA - Home Owner
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" @click="switchTo()">
                                                            TEKA - Professional
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="list">
                                                    <li>
                                                        <a href="/term-n-condition" >
                                                        {{
                                                            $root.lang() == 1 ? 'Syarat dan Kondisi':
                                                            $root.lang() == 2 ? 'Term and Condition':
                                                            $root.lang() == 3 ? 'Nutzungsbedingungen' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/privacy-policy" >
                                                        {{
                                                            $root.lang() == 1 ? 'Kebijakan Privasi':
                                                            $root.lang() == 2 ? 'Privacy Policy':
                                                            $root.lang() == 3 ? 'Datenschutz-Bestimmungen' : ''
                                                        }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-toggle="modal" data-target="#myModal"  >
                                                            {{
                                                                $root.lang() == 1 ? 'Berlangganan Sekarang' : 
                                                                $root.lang() == 3 ? 'Abonniere jetzt' : 'subscribe Now'
                                                            }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="social-links">
                        <ul class="social-icon-two">
                            <li><a href="https://facebook.com/teka.parquet.3"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/TEKAparquet"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/tekaparquet/?hl=id"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p style="font-size: 9pt" >
                            {{
                                $root.lang() == 1 ? 'Hak Cipta © ' : 
                                $root.lang() == 2 ? 'Copyright © ' :
                                $root.lang() ==3 ? 'Urheberrechte ©' : ''
                            }} 2020 <a href="#">Teka Parquet.</a> 
                            {{
                                $root.lang() == 1 ? 'Hak cipta dilindungi Undang-undang' : 
                                $root.lang() == 2 ? 'All right reserved' : 
                                $root.lang() == 3 ? 'Alle Rechte vorbehalten' : ''
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import ApiFrame from "../services/api/content.js"
    export default {
        data() {
            return {
                footer: '',
                galleries: []
            }
        },
        mounted() {
            ApiFrame.getFrame('home')
            .then(_content => {
                this.footer = _content.data.content.tb_profile.about
                this.galleries = _content.data.content.tb_project_galleries
            })
            
        },
        methods: {
            switchTo() {
                let sess = sessionStorage.getItem('__STARTER') == 'professional' ? 'setter' : 'professional'
                sessionStorage.setItem('__STARTER', sess)
                window.location.href = "/"
            },
        }
    }
</script>