<template>
    <header class="main-header header-style-two" style="background-color: rgb(0 0 0);">
        <div class="alert alert-success" v-if="onSuccess">
            <strong>{{ 
                $root.lang() == 1 ? 'Berhasil' : 
                $root.lang() == 2 ? 'Success' : 
                $root.lang() == 3 ? 'Erfolg' : ''
            }}!</strong> {{ 
                $root.lang() == 1 ? 'Anda telah berlangganan dengan kami' : 
                $root.lang() == 2 ? 'You have subscribed with us' : 
                $root.lang() == 3 ? 'Sie haben sich bei uns angemeldet' : ''
            }}
        </div>
        <div class="alert alert-danger" v-if="onError">
            <strong>{{ 
                $root.lang() == 1 ? 'Kesalahan' : 
                $root.lang() == 2 ? 'Error' : 
                $root.lang() == 3 ? 'Error' : ''
            }}!</strong> {{ 
                $root.lang() == 1 ? 'Email yang anda masukan sudah terdaftar!' : 
                $root.lang() == 2 ? 'The email you entered is already registered!' : 
                $root.lang() == 3 ? 'Die von Ihnen eingegebene E-Mail ist bereits registriert!' : ''
            }}
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        {{
                            $root.lang() == 1 ? 'Berlangganan Sekarang' : 
                            $root.lang() == 3 ? 'Abonniere jetzt' : 'subscribe Now'
                        }}
                    </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        {{
                            $root.lang() == 1 ? 'Dengan mengisi email anda dibawah ini, anda akan menerima berita dari kami' : 
                            $root.lang() == 3 ? 'Wenn Sie unten Ihre E-Mail-Adresse eingeben, erhalten Sie Neuigkeiten von uns' : 'By filling in your email below, you will receive news from us'
                        }}
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{
                                    $root.lang() == 1 ? 'Nama' : 'Name'
                                }}*</label>
                                <input type="text" v-model="name" class="form-control"  :placeholder="$root.lang() == 1 ? 'Nama' : 'Name'">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{
                                    $root.lang() == 1 ? 'Perusahaan' : 'Company'
                                }}</label>
                                <input type="text" v-model="company" class="form-control"  :placeholder="$root.lang() == 1 ? 'Perusahaan (Opsional)' : 'Company (Optional)'">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{
                                    $root.lang() == 1 ? 'Jabatan' : 'Position'
                                }}</label>
                                <input type="text" v-model="position" class="form-control"  :placeholder="$root.lang() == 1 ? 'Jabatan (Opsional)' : 'Position (Optional)'">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email*</label>
                                <input type="email" v-model="email" class="form-control"  placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{
                                    $root.lang() == 1 ? 'No. Telp' : 'Phone'
                                }}*</label>
                                <input type="number" v-model="phone" class="form-control"  placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="closed-modal-subscribe">
                    {{
                        $root.lang() == 1 ? 'Tutup' : 
                        $root.lang() == 3 ? 'Deckel' : 'Close'
                    }}
                  </button>
                  <button type="button" class="btn btn-primary" @click="sendEmail()">
                        {{
                            $root.lang() == 1 ? 'Berlangganan' : 
                            $root.lang() == 3 ? 'Abonniere' : 'Subscribe'
                        }}
                    </button>
                </div>
              </div>
          
            </div>
        </div>
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="top-right">
                        <ul class="social-icon-four clearfix">
                            <li><a href="javascript:;" @click="setLang(1)">
                                <img src="/assets/images/icons/id.png" alt="ID Flag" width="30">
                            </a></li>
                            <li><a href="javascript:;" @click="setLang(2)">
                                <img src="/assets/images/icons/uk.png" alt="EN Flag" width="30">
                            </a></li>
                            <li><a href="javascript:;" @click="setLang(3)">
                                <img src="/assets/images/icons/de.png" alt="DE Flag" width="30">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="auto-container" >
            
            <div class="main-box clearfix" >
                <div class="logo-box">
                    <div class="logo">
                        <a href="/"><img src="/assets/images/logo-white.png" alt="teka logo" width="150"></a>
                    </div>
                </div>
        
                <div class="nav-outer" >
                    <nav class="main-menu navbar-expand-md ">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
        
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li :class="$root.$router.history.current.name == 'home.page.html' ? 'current' : ''">
                                    <a href="/">
                                        {{
                                        $root.lang() == 1 ? 'Beranda' :
                                        $root.lang() == 2 ? 'Home' :
                                        $root.lang() == 3 ? 'Zuhause' : ''
                                        }}
                                    </a>
                                </li>
                                <li :class="$root.$router.history.current.name == 'about.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="javascript:;">
                                        {{
                                        $root.lang() == 1 ? 'Tentang Teka' :
                                        $root.lang() == 2 ? 'About Us' :
                                        $root.lang() == 3 ? 'Über uns' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/about">
                                                {{
                                                $root.lang() == 1 ? 'Kenapa Kami' :
                                                $root.lang() == 2 ? 'Why Us' :
                                                $root.lang() == 3 ? 'warum wir' : ''
                                                }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li v-if="constructions.length > 6" :class="$root.$router.history.current.name == 'product.page.html' ? 'current dropdown has-mega-menu' : 'dropdown has-mega-menu'" >
                                    <a href="/product?construction=0" @click="gotoAllProduct()">
                                        {{
                                        $root.lang() == 1 ? 'Produk' :
                                        $root.lang() == 2 ? 'Product' :
                                        $root.lang() == 3 ? 'Produkt' : ''
                                        }}
                                    </a>
                                    <div class="mega-menu" style="width: 60%; margin-left: 50%;">
                                        <div class="mega-menu-bar row clearfix">
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li>
                                                        <a href="/product?construction=prefered">
                                                            Highlighted Product
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/product?construction=trends">
                                                            Trending Colours
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li v-if="!constructions || constructions.length == 0">
                                                        <a href="/product" >
                                                            Enginered Wood
                                                        </a>
                                                    </li>
                                                    <li v-for="(construction, index) in constructions" v-if="((index+1) % 2) == 0 || index == 0">
                                                        <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                                    </li>
                                                    <!-- <li><a href="about.html">About Us</a></li>
                                                    <li><a href="faq.html">FAQ's</a></li>
                                                    <li><a href="team.html">Our Team</a></li>
                                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    <li><a href="login.html">Login</a></li> -->
                                                </ul>
                                            </div>
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li v-for="(construction, index) in constructions" v-if="((index+1) % 2) != 0 && index != 0">
                                                        <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li v-if="6 >= constructions.length "
                                    :class="$root.$router.history.current.name == 'product.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="/product?construction=0" @click="gotoAllProduct()">
                                        {{
                                        $root.lang() == 1 ? 'Produk' :
                                        $root.lang() == 2 ? 'Product' :
                                        $root.lang() == 3 ? 'Produkt' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/product?construction=prefered">
                                                Highlighted Product
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product?construction=trends">
                                                Trending Colours 
                                            </a>
                                        </li>
                                        <li v-for="construction in constructions">
                                            <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li :class="$root.$router.history.current.name == 'gallery.page.html' ? 'current' : ''">
                                    <a href="/gallery">
                                        {{
                                        $root.lang() == 1 ? 'Galeri Proyek' :
                                        $root.lang() == 2 ? 'Project Gallery' :
                                        $root.lang() == 3 ? 'Projektgalerie' : ''
                                        }}
                                    </a>
                                </li>
                                <li v-if="resources.length > 0"
                                    :class="$root.$router.history.current.name == 'resources.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="javascript:void(0)">
                                        {{
                                        $root.lang() == 1 ? 'Sumber Daya' :
                                        $root.lang() == 2 ? 'Resource' :
                                        $root.lang() == 3 ? 'Resource' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li v-for="resource in resources">
                                            <a :href="'/resource/'+$root.encrypt(resource.id)">{{resource.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li :class="$root.$router.history.current.name == 'contact.page.html' ? 'current' : ''">
                                    <a href="/contact-us">
                                        {{
                                            $root.lang() == 1 ? 'Hubungi Kami' :
                                            $root.lang() == 2 ? 'Contact Us' :
                                            $root.lang() == 3 ? 'Kontaktiere uns' : ''
                                        }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
        
                    <!-- Main Menu End-->
                    <!-- <div class="outer-box clearfix">
                        <button class="nav-toggler"><span class="fa fa-bars"></span></button>
                    </div> -->
                </div>
            </div>
        </div>
        
                <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="/" title=""><img src="/assets/images/logo.png" alt="teka logo" width="150"></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <li :class="$root.$router.history.current.name == 'home.page.html' ? 'current' : ''">
                                    <a href="/">
                                        {{ 
                                            $root.lang() == 1 ? 'Beranda' : 
                                            $root.lang() == 2 ? 'Home' : 
                                            $root.lang() == 3 ? 'Zuhause' : ''
                                        }}
                                    </a>
                                </li>
                                <li :class="$root.$router.history.current.name == 'about.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="javascript:;" >
                                        {{ 
                                            $root.lang() == 1 ? 'Tentang Teka' : 
                                            $root.lang() == 2 ? 'About Us' : 
                                            $root.lang() == 3 ? 'Über uns' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/about">
                                                {{ 
                                                    $root.lang() == 1 ? 'Kenapa Kami' : 
                                                    $root.lang() == 2 ? 'Why Us' : 
                                                    $root.lang() == 3 ? 'warum wir' : ''
                                                }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li v-if="constructions.length > 6"
                                    :class="$root.$router.history.current.name == 'product.page.html' ? 'current dropdown has-mega-menu' : 'dropdown has-mega-menu'">
                                    <a href="/product?construction=0" @click="gotoAllProduct()">
                                        {{
                                        $root.lang() == 1 ? 'Produk' :
                                        $root.lang() == 2 ? 'Product' :
                                        $root.lang() == 3 ? 'Produkt' : ''
                                        }}
                                    </a>
                                    <div class="mega-menu" style="width: 60%; margin-left: 50%;">
                                        <div class="mega-menu-bar row clearfix">
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li>
                                                        <a href="/product?construction=prefered">
                                                            Highlighted Product
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/product?construction=trends">
                                                            Trending Colours
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li v-if="!constructions || constructions.length == 0">
                                                        <a href="/product">
                                                            Enginered Wood
                                                        </a>
                                                    </li>
                                                    <li v-for="(construction, index) in constructions" v-if="((index+1) % 2) == 0 || index == 0">
                                                        <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                                    </li>
                                                    <!-- <li><a href="about.html">About Us</a></li>
                                                                                        <li><a href="faq.html">FAQ's</a></li>
                                                                                        <li><a href="team.html">Our Team</a></li>
                                                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                                                        <li><a href="login.html">Login</a></li> -->
                                                </ul>
                                            </div>
                                            <div class="column col-lg-4 col-md-4 col-sm-4">
                                                <ul>
                                                    <li v-for="(construction, index) in constructions" v-if="((index+1) % 2) != 0 && index != 0">
                                                        <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li v-if="6 >= constructions.length "
                                    :class="$root.$router.history.current.name == 'product.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="/product?construction=0" @click="gotoAllProduct()">
                                        {{
                                        $root.lang() == 1 ? 'Produk' :
                                        $root.lang() == 2 ? 'Product' :
                                        $root.lang() == 3 ? 'Produkt' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/product?construction=prefered">
                                                Prefered Product
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product?construction=trends">
                                                Trending Product
                                            </a>
                                        </li>
                                        <li v-for="construction in constructions">
                                            <a :href="'/product?construction='+construction.id">{{construction.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li :class="$root.$router.history.current.name == 'gallery.page.html' ? 'current' : ''">
                                    <a href="/gallery">
                                        {{ 
                                            $root.lang() == 1 ? 'Galeri Proyek' : 
                                            $root.lang() == 2 ? 'Project Gallery' : 
                                            $root.lang() == 3 ? 'Projektgalerie' : ''
                                        }}
                                    </a>
                                </li>
                                <li v-if="resources.length > 0" :class="$root.$router.history.current.name == 'resources.page.html' ? 'current dropdown' : 'dropdown'">
                                    <a href="javascript:void(0)">
                                        {{ 
                                            $root.lang() == 1 ? 'Sumber Daya' : 
                                            $root.lang() == 2 ? 'Resource' : 
                                            $root.lang() == 3 ? 'Resource' : ''
                                        }}
                                    </a>
                                    <ul>
                                        <li v-for="resource in resources">
                                            <a :href="'/resource/'+$root.encrypt(resource.id)">{{resource.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li :class="$root.$router.history.current.name == 'contact.page.html' ? 'current' : ''">
                                    <a href="/contact-us">
                                        {{
                                            $root.lang() == 1 ? 'Hubungi Kami' :
                                            $root.lang() == 2 ? 'Contact Us' :
                                            $root.lang() == 3 ? 'Kontaktiere uns' : ''
                                        }}
                                    </a>
                                </li>
                                <!-- <li class="">
                                    <a href="javascript:;" @click="switchTo()">
                                        {{getPage()}}
                                    </a>
                                </li> -->
                            </ul> 
                        </div>
                    </nav>
                </div>
            </div>
            
        </div>
        <div id="fancies" style="position: fixed; z-index: 9999;"></div>

        
        
    </header>
</template>

<script>
    import ApiFrame from "../services/api/content.js"
    import swal from 'sweetalert';
    export default {
        data() {
            return {
                constructions: [],
                resources: [],
                name: null,
                email: null,
                company: null,
                position: null,
                phone: null,
                onSuccess: false,
                onError: false
            }
        },
        beforeMount() {},
        mounted() {
            ApiFrame.getMenus(sessionStorage.getItem('_LANG'))
            .then(resp => {
                if(resp.data) {
                    this.constructions = resp.data.constructions
                    this.resources = resp.data.resources
                }
            })
        },
        methods: {
            gotoAllProduct() {
                window.location.href = "/product?construction=0"
            },
            setLang(lang) {
                sessionStorage.setItem('_LANG', lang)
                window.location.reload()
            },
            toTitleCase(text) {
                var sentence = text.toLowerCase().split(" ");
                let result = ''
                for(var i = 0; i< sentence.length; i++){
                    result += sentence[i][0].toUpperCase() + sentence[i].slice(1)+ ' '
                }
                return result
            },
            switchTo() {
                let sess = sessionStorage.getItem('__STARTER') == 'professional' ? 'setter' : 'professional'
                sessionStorage.setItem('__STARTER', sess)
                window.location.href = "/"
            },
            getPage() {
                return sessionStorage.getItem('__STARTER') == 'professional' ? 'Home Owner' : 'Professional'
            },
            validateSubscribe(formInquiry) {
                let ValidateEmail = txt => {
                    var EmailPattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return EmailPattern.test(txt)
                }
                if (!formInquiry.name.trim().length) {
                    swal({
                        title: null,
                        text: "Name is Required",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                    return false
                }
                if (!formInquiry.phone.toString().trim().length) {
                    swal({
                        title: null,
                        text: "phone is Required",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                    return false
                }
                if (!formInquiry.email.trim().length) {
                    swal({
                        title: null,
                        text: "Email is Required",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                    return false
                }
                if (!ValidateEmail(formInquiry.email)) {
                    swal({
                        title: null,
                        text: "Please input email correctly",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                    return false
                }
                return true
            },
            sendEmail() {
                let ValidateEmail = txt => {
                    var EmailPattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return EmailPattern.test(txt)
                }
                let form = {
                    email: this.email.toLowerCase(),
                    name: this.name,
                    company: this.company,
                    phone: this.phone,
                    position: this.position
                }
                if(this.validateSubscribe(form)) {
                    ApiFrame.subscribe(form)
                        .catch(err => {
                            this.onError = true;
                            swal({
                                title: null,
                                text: "Your email has been subscribed",
                                icon: "error",
                                buttons: false,
                                dangerMode: true,
                            });
                            setTimeout(() => {
                                this.onError = false
                            }, 3000)
                        })
                        .then(resp => {
                            if (resp) {
                                swal({
                                    title: "Success",
                                    text: "Thank you subscribing to our Newsletter",
                                    icon: "success",
                                    buttons: false,
                                    dangerMode: false,
                                });
                            }
                        })
                        .finally(() => {
                            this.email = null
                            $("#closed-modal-subscribe").click()
                        })
                } else {
                    swal({
                        title: null,
                        text: "Please check your input",
                        icon: "error",
                        buttons: false,
                        dangerMode: true,
                    });
                }
                
            }
        }
        
    }
</script>